#btn{
    padding: 10px;
    padding-left:0px;
}

ion-header{
    --ion-background-color: #9096a0;
}

ion-content{
    --ion-background-color: #a0a0a0;
}

ion-label{
    --color: red;
    font-size: 25px;
}

ion-button{
    --background:#0192c6;
    --color:white;
    width: 100%;
}

ion-input{
    --color:white;
    --background:#8c8c8c; 
}

