<ion-header>
    <ion-toolbar text-center>
      <ion-title>Contacter</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding>
  <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Your In</ion-card-subtitle>
        <ion-card-title>Welcome to Contacter</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This app allows you to create dynamic contacts of your friends and family, with the ability to visit their social media and save their address so you never forget the way to their house again! </p>
      </ion-card-content>
    </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModal()">Ready to get Started!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>